<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.2.1/dist/axentix.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

        {% endblock %}


        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="layout-sidenav">
    {% include ('navbar.html.twig')%}

    <div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 sidenav-fixed white">
{#        <div class="sidenav-header">#}
{#            <img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo" />#}
{#        </div>#}
        <a href="{{ path('app_user') }}" class="sidenav-link">Mon profil</a>
        <a href="{{ path('app_user_offers') }}" class="sidenav-link">Mes offres</a>

    </div>
    <main>
    <button data-target="example-sidenav"
            class="btn rounded-1 press amaranth dark-1 hide-md-up">
        Open sidenav
    </button>
        {% block body %}


        {% endblock %}
    </main>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/axentix@2.2.1/dist/axentix.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

</html>
